[submodule "tmux/tmux/plugins/tmux-yank"]
	path = tmux/tmux/plugins/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank.git
[submodule "tmux/tmux/plugins/tmux-sensible"]
	path = tmux/tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible.git
[submodule "tmux/tmux/plugins/tmux-resurrect"]
	path = tmux/tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect.git
[submodule "tmux/tmux/plugins/tmux-continuum"]
	path = tmux/tmux/plugins/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum.git
[submodule "vim/vim/pack/plugins/start/vim-dim"]
	path = vim/vim/pack/plugins/start/vim-dim
	url = https://github.com/jeffkreeftmeijer/vim-dim.git
[submodule "vim/vim/pack/plugins/start/vim-vinegar"]
	path = vim/vim/pack/plugins/start/vim-vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule "vim/vim/pack/plugins/start/vim-sensible"]
	path = vim/vim/pack/plugins/start/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "vim/vim/pack/plugins/start/vim-rsi"]
	path = vim/vim/pack/plugins/start/vim-rsi
	url = https://github.com/tpope/vim-rsi.git
[submodule "vim/vim/pack/plugins/start/vim-surround"]
	path = vim/vim/pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/vim/pack/plugins/start/vim-commentary"]
	path = vim/vim/pack/plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/vim/pack/plugins/start/vim-fugitive"]
	path = vim/vim/pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
